<div id="page-context" class="row" data-ng-init="getSchedule()">
	<div class="container">
		<a href="/getSchedule/{{selectedSchedule.id}}/addTrip">+ Adicionar trip</a>
		<h2>
	      {{selectedSchedule.name}}
	    </h2>
	    <div class="table-responsive" ng-init="trips.total = {}">			
			<table class="table table-striped">
			    <thead>
			      <tr>
			      	  <th>Editar</th>
				      <th>Deletar</th>
				      <th>Partida</th>
				      <th>Destino</th>
				      <th>Início</th>
				      <th>Fim</th>
				      <th>Transporte</th>
				      <th>Preço</th>
				      <th>Acomodação</th>
				      <th>Preço</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr ng-repeat="trip in selectedSchedule.trips">
			          <td><button class="pull-right btn btn-success" type="button" title="Delete" 
				      	ng-click="getTrip(trip)">
				         	<span class="glyphicon glyphicon-pencil"></span>
				         </button></td>
			          <td><button class="pull-right btn btn-danger" type="button" title="Delete" 
				      	ng-click="removeTripFromSchedule(selectedSchedule.id, trip)">
				         	<span class="glyphicon glyphicon-trash"></span>
				         </button></td>
				      <td>{{trip.placeOfDeparture}}</td>
				      <td>{{trip.arrivalEmplacement}}</td>
				      <td>{{trip.startsAt}}</td>
				      <td>{{trip.endsOn}}</td>
				      <td>{{trip.transportCompany}}</td>
				      <td ng-init="trips.total.sumTransportPrice = trips.total.sumTransportPrice + trip.transportPrice">
				      	{{trip.transportPrice}}
				      </td>
				      <td>{{trip.accommodationName}}</td>
				      <td ng-init="trips.total.sumAccommodationPrice = trips.total.sumAccommodationPrice + trip.accommodationPrice">
				      {{trip.accommodationPrice}}
				      </td>
			      </tr>
			      <tr style="background-color: #ccc; color: #000; font-style: bold">
			      	<td colspan="7">Soma dos valores</td>
			      	<td>{{trips.total.sumTransportPrice}}</td>
			      	<td></td>
			      	<td>{{trips.total.sumAccommodationPrice}}</td>
			      </tr>
			    </tbody>
		   </table>		   
		   
		   Valor total: {{trips.total.sumTransportPrice + trips.total.sumAccommodationPrice}}
		</div>
	</div>
</div>