<div id="page-context" class="row" data-ng-init="getSchedule()">
	<div class="container">
		<a href="/getSchedule/{{selectedSchedule.id}}/addTrip">+ Adicionar trip</a>
		<h2>
	      {{selectedSchedule.name}}
	    </h2>
	    <div class="table-responsive">			
			<table class="table table-striped">
			    <thead>
			      <tr>
				      <th>Deletar</th>
				      <th>Partida</th>
				      <th>Destino</th>
				      <th>Início</th>
				      <th>Fim</th>
				      <th>Transporte</th>
				      <th>Preço</th>
				      <th>Acomodação</th>
				      <th>Preço</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr ng-repeat="trip in selectedSchedule.trips">
			          <td><button class="pull-right btn btn-danger" type="button" title="Delete" 
				      	ng-click="removeTripFromSchedule(selectedSchedule.id, trip)">
				         	<span class="glyphicon glyphicon-trash"></span>
				         </button></td>
				      <td>{{trip.placeOfDeparture}}</td>
				      <td>{{trip.arrivalEmplacement}}</td>
				      <td>{{trip.startsAt}}</td>
				      <td>{{trip.endsOn}}</td>
				      <td>{{trip.transportCompany}}</td>
				      <td>{{trip.transportPrice}}</td>
				      <td>{{trip.accommodationName}}</td>
				      <td>{{trip.accommodationPrice}}</td>
			      </tr>
			    </tbody>
		   </table>		   
		</div>
	</div>
</div>