<div id="page-context" class="row">
	<div class="container" id="dashboard">
	
		<div class="alert alert-warning" role="alert" ng-show="message &amp;&amp; message.length > 0">
			{{message}}
		</div>
	
	    <div class="page-header" align="center">
			<h2>Meus planejamentos</h2>
			<!-- Button trigger modal -->
			<a data-toggle="modal" href="#addSchedule" class="btn btn-info btn-xs">
				Adicionar novo planejamento
			</a>
	    </div>
	    
	    <!-- Modal add schedule -->
		<div class="modal fade" id="addSchedule" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">Adicionar viagem</h4>
		     		</div>
				    <div class="modal-body">
						<form class="form-horizontal" role="form">
							<label>Dê um nome para sua viagem:</label><br/>
						 	<input type="text" class="form-control" ng-model="newScheduleName" placeholder="Digite nome para sua viagem..." /><br />
						  	<div align="center">
						   		<button class="btn btn-primary" title="Add" ng-click="addSchedule(newScheduleName)" data-dismiss="modal">
									Salvar
								</button>
								<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
						    </div>
						</form>
					</div>
		    	</div>
		  	</div>
		</div>
	    
	    <div class="alert alert-info" role="alert" ng-hide="schedules &amp;&amp; schedules.length > 0">
	      Nenhum planejamento criado.
	    </div>
   		<div class="container" ng-repeat="schedule in schedules">
   			<div class="row">
				<div class="col-xs-6 col-md-6">
			  		<h3><a href="/getSchedule/{{schedule.id}}">{{schedule.name}}</a></h3>
			  	</div>
			  	<div class="col-xs-6 col-md-2">
		          	<h5>{{schedule.createdAt}}</h5>
		        </div>
			  	<div class="col-xs-6 col-md-4">
					<button class="pull-right btn btn-danger" type="button" title="Delete" ng-click="deleteSchedule(schedule)">
		            	<span class="glyphicon glyphicon-trash"></span>
		          	</button>
		         	<a href="#">
			        	<button class="pull-right btn btn-primary" type="button" title="Edit">            
			            	<span class="glyphicon glyphicon-pencil"></span>
			        	</button>
		          	</a>
			  	</div>
			</div>
       	</div>
	</div>
</div>